<h1>Browse Persons</h1>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="dataSource.isLoadingResults || dataSource.isRateLimitReached">
    <mat-spinner *ngIf="dataSource.isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="dataSource.isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <mat-table #table [dataSource]="dataSource" class="example-table"
            matSort matSortActive="type" matSortDisableClear matSortDirection="asc">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef >Phone</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.phone }}</mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef >Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef >Email</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
    </ng-container>

    <!-- Birthday Column -->
    <ng-container matColumnDef="birthday">
      <mat-header-cell *matHeaderCellDef  >Birthday</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.birthday }}</mat-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.state }}</mat-cell>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef
                      
                      >
        Type
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.type }}</mat-cell>
    </ng-container>



<ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon>
          </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="edit(element.id)">Edit</button>
              <button mat-menu-item (click)="delete(element)">Delete</button>              
            </mat-menu>
        </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


  </mat-table>

  <mat-paginator [length]="dataSource.resultsLength"
                [pageSize]="30">
  </mat-paginator>
</div>

<div class="spacer"></div>
<div class="spacer"></div>

<button class="browse" mat-raised-button routerLink="/signup/customer">Add New Customer</button> 
<button class="browse" mat-raised-button routerLink="/signup/supplier">Add New Supplier</button>