<mat-toolbar color="primary" role="header">
  <a href="/"><img style="width: 111px;" title="Sunwing.ca Experience the Difference" src="https://www.sunwing.ca/Content/images/global/header/sunwing-experience-the-difference-white-logo.png"></a>


</mat-toolbar>

<div class="content"><router-outlet></router-outlet>
<app-messages></app-messages>

</div>

