form {
  display: flex;
  flex-direction: column;

}


.signup-card{
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.signup-form .mat-card-avatar {
    height: 60px;
    width: 60px;
}

.mat-form-field {
	padding-bottom: 20px;
}

.mat-error {
    color: #FF9800;
}