<h1>{{title}}</h1>

<div *ngIf="type">
<mat-card class="signup-card" [@heroState]="void">

	<mat-card-header>

		<mat-card-title><h2>{{subtitle}}</h2></mat-card-title>
		<img mat-card-avatar src="assets/{{type}}.svg">

	</mat-card-header>

	<form nonvalidate (ngSubmit)="onSubmit(user)">

		<div class="spacer"></div>

	 <mat-form-field *ngIf="type=='customer' || 'supplier'">
	    <input matInput placeholder="Firstname Lastname" [formControl]="nameFc">
	        <mat-error *ngIf="nameFc.hasError('required')">
	      Name is <strong>required</strong>
	       </mat-error>
	       <mat-error *ngIf="nameFc.hasError('pattern')">
	      	Firstname and Lastname, maximum 50 characters.
	    	</mat-error>
	  </mat-form-field>

	   <mat-form-field *ngIf="type=='supplier'">
	    <input  matInput placeholder="Phone" [formControl]="phoneFc">
	    <mat-error *ngIf="phoneFc.hasError('pattern')">
	      Please enter a phone number, only digits.
	    </mat-error>
	    <mat-error *ngIf="phoneFc.hasError('required')">
	      Phone is <strong>required</strong>
	    </mat-error>
	  </mat-form-field>


	  <mat-form-field class="example-full-width"  *ngIf="type=='customer'">
	    <input type="email" matInput placeholder="Email" [formControl]="emailFc">
	    <mat-error *ngIf="emailFc.hasError('pattern')">
	      Please enter a valid email address
	    </mat-error>
	    <mat-error *ngIf="emailFc.hasError('required')">
	      Email is <strong>required</strong>
	    </mat-error>
	  </mat-form-field>


	   <mat-form-field *ngIf="type=='customer'">
	    <input matInput placeholder="Birthday" [formControl]="dateFc">
	    <mat-error *ngIf="dateFc.hasError('pattern')">
	      Please enter birthday date format dd/MM/yyyy:
	    </mat-error>
	  </mat-form-field>

	  <div class="spacer"></div>


	  <button class="layout-margin" mat-raised-button  color="primary" type="submit">Submit</button>


	</form>

	<div class="spacer"></div>
</mat-card>
 <div class="spacer"></div>
  <div class="spacer"></div>
	<button mat-raised-button (click)="backClicked()"> Back </button>

</div>



<mat-card class="signup-card" *ngIf="!type && !edit" [@heroState]="void">
<p>Welcome to the Sunwing portal.<br> Here you can signup for your account.</p>
<div class="spacer"></div>
<div class="spacer"></div>
<h3>Describe Yourself In One Word</h3>
<div class="spacer"></div>
<div class="spacer"></div>
  <a routerLink="/signup/supplier"><button mat-raised-button color="primary" >Supplier</button></a>
  <a routerLink="/signup/customer"><button mat-raised-button color="primary">Customer</button></a>
</mat-card>


<br>
	<button class="browse" mat-raised-button routerLink="/persons">Browse Persons</button>


