<div *ngIf="messageService.messages.length">
  <button class="clear"
          (click)="messageService.clear()">clear</button>
  <div class="message" *ngFor='let message of messageService.messages'> {{message}} </div>

</div>