/* You can add global styles to this file, and also import other style files */
body {
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    margin: 0;
	background: whitesmoke;
	color: #40535d;
	background-image: url('/assets/sunwing-airplane2.jpg');
	background-size: cover;
}

h1{
	color: white;
}

mat-toolbar a{
	margin: auto;

}

.content {
    min-height: 100vh;
    padding: 80px 3rem 1rem;
    text-align: center;
}


.spacer{
	    margin-top: 20px;
}

.mat-card h2{
	color: #F44336;
	text-transform: capitalize;
	line-height: 7px;
	padding-left: 7px;
}

button{
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

button.browse{
	background: #0b79ff;
	color: white;
}

mat-toolbar.mat-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding: 0 16px 0 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

app-messages{
	position: fixed;
    bottom: 0;
    left: 10px;
}

